/* PC ( >= 1024px )*/
@media (min-width: 64em) {

}

/* Mobile & Tablet ( <= 1023px ) */
@media (max-width: 63.9375em) {

}

/* Tablet ( 740px -> 1023px ) */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .button {
        padding: 15px 30px;
    }

    .header-navbar {
        padding: 25px 20px;
    }

    .navbar-items__link {
        margin-left: 20px;
    }

    .navbar__menu-icon {
        display: none;
    }

    .navbar__menu-close-icon {
        display: none;
    }
    
    .box__decor::before {
        width: 30%;
    }

    .box__decor::after {
        width: 46%;
    }
}

/* Mobile ( <= 739px ) */
@media (max-width: 46.1875em) {
    .navbar-items {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 1em;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        transform: translateY(-284px);
        opacity: 0;
        z-index: -1;
        transition: 0.4s ease;
    }

    .navbar-items.active {
        transform: translateY(0);
        opacity: 1;
    }

    .header-navbar {
        padding: 25px 20px;
    }

    .header-navbar__logo-img {
        width: 40px;
        height: 40px;
    }

    .header-navbar__logo {
        font-size: 2.2rem;
        font-weight: 500;
    }

    .navbar-items__link {
        display: block;
        padding: 25px 20px;
        margin: 0 20px;
        text-align: center;
        border-bottom: 1px solid var(--white-color);
    }

    .navbar-items__link::before {
        display: none;
    }

    .navbar__menu {
        display: block;
    }

    .navbar__menu .navbar__menu-icon {
        color: var(--white-color);
        font-size: 2.4rem;
        padding: 6px;
        display: block;
    }

    .navbar__menu .navbar__menu-close-icon {
        color: var(--white-color);
        font-size: 2.4rem;
        padding: 6px;
        display: none;
    }

    .navbar__menu.active .navbar__menu-icon {
        display: none;
    }

    .navbar__menu.active .navbar__menu-close-icon {
        display: block;
    }

    .header-content__title {
        font-size: 2.6rem;
    }
    
    .header-content__description {
        font-size: 1.2rem;
        line-height: 1.2;
    }
}