.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: auto;
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #1e4529;
}

.header::before {
    content: "";
    position: absolute;
    z-index: 1;
    background: rgba(30, 69, 41, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-background {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Navigation Bar */
.header-navbar {
    z-index: 999;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}

.header-navbar__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transform: translateX(-280px);
    animation: showRight 1s ease forwards;
    animation-delay: 0.3s;
}

.header-navbar__logo {
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0 0 0 8px;
    color: var(--white-color);
}

.header-navbar__logo-img {
    width: 60px;
    height: 60px;
}

.navbar-items {
    position: relative;
}

.navbar-items__link {
    position: relative;
    right: -540px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 10px;
    margin-left: 50px;
    transition: 0.3s ease;
    animation: showLeft 1s ease forwards;
}

.navbar-items__link:active {
    color: var(--text-color);
}

.navbar-items__link:nth-child(1) {
    animation-delay: 0.1s;
}

.navbar-items__link:nth-child(2) {
    animation-delay: 0.2s;
}

.navbar-items__link:nth-child(3) {
    animation-delay: 0.3s;
}

.navbar-items__link:nth-child(4) {
    animation-delay: 0.4s;
}

.navbar-items__link::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 3px;
    border-radius: 4px;
    background-color: var(--white-color);
    bottom: 4px;
    left: 0;
    transition: 0.3s ease;
}

.navbar-items__link:hover::before {
    width: 100%;
}

.navbar-items__link:active::before {
    background-color: var(--text-color);
}

.navbar__menu {
    display: none;
}

/* Header title */
.header-content {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    color: var(--white-color);
}

.header-content__title {
    font-size: 4.6rem;
    font-weight: 800;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-bottom: 40px;
    -webkit-text-stroke: 1px var(--white-color);
    transition: 0.6s ease;
    transform: translateX(-250%);
    animation: showRight 1s ease forwards;
    animation-delay: 0.3s;
    cursor: default;
}

.header-content__title:hover {
    color: transparent;
}

.header-content__description {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 10px 20% 40px;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 1px;
    transform: translateX(200%);
    animation: showLeft 1s ease forwards;
    animation-delay: 0.3s;
}

.header-content__button {
    transform: translateX(-600%);
    animation: showRight 1s ease forwards;
    animation-delay: 0.3s;
}

/* App Container */
.app-container {
    background-color: var(--primary-background-color);
    width: 100%;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    border-bottom: 8px solid #8d7065;
}

.content__title {
    font-size: 3.2rem;
    margin: 25px 0 66px;
    color: var(--primary-text-color);
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    flex: 0;
    transform: translateY(20px);
    cursor: default;
}

.content__title.show {
    animation: showContentTitleText 1.6s ease forwards;
}

@keyframes showContentTitleText {
    100% {
        opacity: 1;
    }
}

.content__title-box {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.left-line {
    margin: 0 15px;
    height: 2px;
    width: 40%;
    background-color: #92af60;
    flex: 1;
    transform: scaleX(0);
    transform-origin: right;
}

.right-line {
    margin: 0 15px;
    height: 2px;
    width: 40%;
    background-color: #92af60;
    flex: 1;
    transform: scaleX(0);
    transform-origin: left;
}

.content__title-box.show .left-line {
    animation: showLine 1.4s ease forwards;
    animation-delay: 0.2s;
}

.content__title-box.show .right-line {
    animation: showLine 1.4s ease forwards;
    animation-delay: 0.2s;
}

@keyframes showLine {
    100% {
        transform: scaleX(1);
    }
}

/* .content__title::before {
    content: "";
    position: absolute;
    display: block;
    right: 56%;
    top: 50%;
    width: 0;
    height: 2px;
    background-color: #92af60;
}

.content__title.show::before {
    animation: fadeInContentTitle 1.4s ease forwards;
    animation-delay: 0.2s;
}

.content__title::after {
    content: "";
    position: absolute;
    display: block;
    left: 56%;
    top: 50%;
    width: 0;
    height: 2px;
    background-color: #92af60;
}

.content__title.show::after {
    animation: fadeInContentTitle 1.4s ease forwards;
    animation-delay: 0.2s;
}

@keyframes fadeInContentTitle {
    100% {
        width: calc(50% - 30px - 50px);
    }
} */

.box-border {
    width: 80%;
    background-color: var(--white-color);
    border: 3px solid var(--primary-border-color);
    border-radius: 12px;
    padding: 6px;
    margin-bottom: 40px;
    transform: translateX(400%);
    opacity: 0;
    transition: all 0.8s ease;
}

.box-border:nth-of-type(even) {
    transform: translateX(-400%);
}

.box-border.show {
    transform: translateX(0);
    opacity: 1;
}

.box-content {
    background-color: var(--primary-border-color);
    padding: 30px;
    text-align: center;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box__icon {
    padding: 19px 21px;
    background-color: #62763f;
    border-radius: 5000px;
    margin-bottom: 24px;
    transform: scale(0);
}

.box-border.show .box__icon {
    animation: showBoxIcon 1.4s ease-in forwards;
}

@keyframes showBoxIcon {
    100% {
        transform: scale(1);
    }
}

.box__icon i {
    font-size: 4.6rem;
    color: var(--text-color);
}

.box__icon.audiences-target {
    padding: 22px 18px;
}

.box__icon.type-pollution {
    padding: 19px 18px;
}

.box__title {
    margin: 0;
    font-size: 2.2rem;
    color: var(--primary-text-color);
    margin-bottom: 40px;
    display: inline-block;
    position: relative;
}

.box__title::before {
    content: "";
    position: absolute;
    display: block;
    left: -30px;
    bottom: -12px;
    width: 122%;
    height: 2px;
    border-radius: 12px;
    background-color: #92af60;
    transform: scaleX(0);
    /* animation-delay: 6s; */
}

.box-border.show .box__title::before {
    animation: showUnderlineTitle 1.7s ease-in forwards;
}

@keyframes showUnderlineTitle {
    100% {
        transform: scaleX(1);
    }
}

.box__description {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.4;
    padding: 0 10%;
    margin-bottom: 40px;
    color: var(--text-color);
    display: -webkit-box;
    /* -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden; */
}

.button.box__button {
    padding: 10px 60px;
    color: var(--primary-text-color);
    border-color: var(--primary-text-color);
}

.button.box__button:hover {
    color: var(--text-color);
}

.button.box__button::before {
    background-color: var(--primary-text-color);
    width: 100%;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.button.box__button:hover::before {
    transform: scaleX(1);
    width: 100%;
}

.box__decor {
    width: 100%;
    position: relative;
}

.box__decor::before {
    content: "< < < <";
    display: block;
    transform: translate(calc(50% - 48px), -28px);
    width: 40%;
    height: 10px;
    color: var(--primary-text-color);
    font-size: 2.6rem;
    transition: 0.5s ease;
}

.box__decor::after {
    content: "> > > >";
    display: block;
    transform: translate(calc(100% + 48px), -38px);
    width: 40%;
    height: 10px;
    color: var(--primary-text-color);
    font-size: 2.6rem;
    transition: 0.5s ease;
}

.button.box__button:hover ~ .box__decor::before {
    transform: translate(calc(50% - 78px), -28px);
}

.button.box__button:hover ~ .box__decor::after {
    transform: translate(calc(100% + 78px), -38px);
}


/* Keyframe animation */
@keyframes showRight {
    100% {
        transform: translateX(0);
    }
}

@keyframes showLeft {
    100% {
        right: 0;
        transform: translateX(0);
    }
}

